/.idea
/venv
__env.env
# Игнорируем логи gunicorn
/deploy/gunicorn/gunicorn_ass.log
/deploy/gunicorn/gunicorn_err.log
/deploy/gunicorn/gunicorn.sock
# Игнорируем кеш `Django`
/rostelescum/__cache
/rostelescum/db.sqlite3
# Игнорируем модули `npm`
/rostelescum/node_modules
# Для БД
/db/pg_data
node_modules/
node_modules/*
